  {{ $url := index .Params.videos 0 }}

  <div class="card">
  <h1 class="card-header">{{- .Title -}}</h1>
  <p class="card-date">
    {{- .Params.Publisher -}}.
    <time {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
      {{- .Date.Format "January 2, 2006" -}}
    </time>
    ({{- .Type -}})
  </p>

  <p class="card-source">
    Source:
    {{ range $elem_index, $elem_val := .Params.videos }}
      <a href="{{ $elem_val | safeHTML }}">{{ $elem_index | safeHTML }}</a>
    {{ end }}
  </p>

  <p class="card-description">{{- .Description -}}</p>
  </div>


  {{ if eq (substr $url 8 5) "vimeo" }}
  <div class="fluidMedia">
    {{ $id := index (last 1 (split $url "/")) 0 }}
    <script type="module" src="/dist/js/lite-vimeo.js"></script>
    <lite-vimeo videoid="{{ $id }}"></lite-vimeo>
  </div>
  {{ end }}

  {{ if eq (substr $url 8 7) "youtube" }}
  <div class="fluidMedia">
    {{ $id := index (last 1 (split (index (last 1 (split $url "/")) 0) "=")) 0 }}
    <script type="module" src="/dist/js/lite-youtube.js"></script>
    <lite-youtube videoid="{{ $id }}"></lite-youtube>
  </div>
  {{ end }}


  {{ if eq (substr $url 8 3) "tsa" }}
  <div class="container">
    {{ $stem := strings.TrimRight ".mp4" $url }}
    <video id="player" width="100%" height="360" playsinline controls data-plyr-config='{ "invertTime":false }' data-poster="{{ $stem }}.webp">
      <source src="{{ $stem }}.mp4" type="video/mp4" />
      <source src="{{ $stem }}.webm" type="video/webm" />
    </video>
    <script src="https://cdn.plyr.io/3.7.3/plyr.polyfilled.js"></script>
    <script>Plyr.setup("#player");</script>
  </div>
  {{ end }}

  <div class="card-content">{{ .Content | safeHTML }}</div>

